@import "src/assets/styles/_variables.scss";

.status-orange {
  background-color: $error-200;
  color: $state-color-orange;
}
.status-warning {
  background-color: $warning-200;
  color: $state-color-warning;
}
.status-success {
  background-color: $success-200;
  color: $state-color-success;
}
.status-danger {
  background-color: $error-200;
  color: $state-color-error;
}
.status-grey {
  background-color: $grayscale-200;
  color: $state-color-grey;
}
.status-info {
  background-color: $info-200;
  color: $state-color-info;
}
