$mainColor: #00a599;
$textColor: #627084;
$pink: #e85c72;
$white: #fff;
$darkGray: #7d7f81;
$darkBlue: #0f183d;
$headTitleLine: #48a299;
$alertGrey: #f1f1f1;
$alertDanger: #feefd0;
$btnDarkBlue:#0e1740;
$grey:#f2f2f2;
$tr-hover:#f5f9f9;
$status-completed:#e5f6f4;
$color-success:#15aca1;
$status-refuned:#efeaf1;
$color-refuned:#6b3d83;
$danger:#fab118;

// =====================================
// States Colors
// =====================================
$state-color-error:#FF4747;
$state-color-warning:#FFDB1F;
$state-color-success:#00E063;
$state-color-info:#1F9AFF;
$state-color-orange:#f36a3f;
$state-color-grey:#3a4044;


// =====================================
// Grayscal Colors
// =====================================
$grayscale-50:#F8FAFC;
$grayscale-100:#F1F5F9;
$grayscale-200:#E4EAF1;
$grayscale-300:#CBD5E1;
$grayscale-400:#94A3B8;
$grayscale-500:#64748B;
$grayscale-600:#475569;
$grayscale-700:#334155;
$grayscale-800:#1E293B;
$grayscale-900:#0F172A;
// =====================================
// Error Colors
// =====================================
$error-100:#FEF0EF;
$error-200:#FEE4E2;
$error-300:#FDA19B;
$error-400:#F97066;
$error-500:#F04438;
$error-600:#D92D20;
$error-700:#B42318;
$error-800:#912018;
$error-900:#7A271A;
// =====================================
// Warning Colors
// =====================================
$warning-100:#FFFAEB;
$warning-200:#FEF0C7;
$warning-300:#FEDF89;
$warning-400:#FEC84B;
$warning-500:#FDB022;
$warning-600:#F79009;
$warning-700:#DC6803;
$warning-800:#B54708;
$warning-900:#93370D;
// =====================================
// Success Colors
// =====================================
$success-100:#ECFDF3;
$success-200:#D1FADF;
$success-300:#A6F4C5;
$success-400:#6CE9A6;
$success-500:#32D583;
$success-600:#12B76A;
$success-700:#027A48;
$success-800:#05603A;
$success-900:#054F31;
// ======================================
// Info Colors
// =====================================
$info-100:#EDF7FE;
$info-200:#E0F2FE;
$info-300:#B9E6FE;
$info-400:#7CD4FD;
$info-500:#36BFFA;
$info-600:#0BA5EC;
$info-700:#0086C9;
$info-800:#1769AA;
$info-900:#065986;
