$mainColor: #00a599;
$textColor: #627084;
$pink: #e85c72;
$white: #fff;
$darkGray: #7d7f81;
$darkBlue: #0f183d;
$headTitleLine: #48a299;
$alertGrey: #f1f1f1;
$alertDanger: #feefd0;
$btnDarkBlue:#0e1740;
$grey:#f2f2f2;
$tr-hover:#f5f9f9;
$status-completed:#e5f6f4;
$color-success:#15aca1;
$status-refuned:#efeaf1;
$color-refuned:#6b3d83;
$danger:#fab118;
